In [30]:
import pandas as pd

df = pd.read_csv('../data/raw/WorkingHours.csv')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1629 entries, 0 to 1628
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Day                    1629 non-null   object
 1   Start                  1628 non-null   object
 2   End                    1628 non-null   object
 3   Work unit description  325 non-null    object
 4   Work unit details      9 non-null      object
 5   Duration               1629 non-null   object
 6   Task                   1628 non-null   object
 7   Tags                   29 non-null     object
 8   Task details           0 non-null      float64
 9   Unnamed: 9             0 non-null      float64
dtypes: float64(2), object(8)
memory usage: 127.4+ KB

In [33]:
df.head(5)

,Day,Start,End,Work unit description,Work unit details,Duration,Task,Tags,Task details,Unnamed: 9
0,2021/11/3,10:23 AM,11:23 AM,托福阅读改错,NaN,60 min,TOEFL,NaN,NaN,NaN
1,2021/11/4,12:47 PM,1:11 PM,应付workshop,NaN,24 min,Homework,NaN,NaN,NaN
2,2021/11/4,1:28 PM,10:52 PM,应付workshop,NaN,455 min,Homework,NaN,NaN,NaN
3,2021/11/5,7:51 AM,10:21 AM,应付work,NaN,150 min,Homework,NaN,NaN,NaN
4,2021/11/5,10:21 AM,11:12 AM,应付work,NaN,51 min,Homework,NaN,NaN,NaN

In [34]:

df = df.drop(columns=['Tags', 'Task details', 'Unnamed: 9', 'Work unit details'])

In [35]:
df = df.dropna(subset=['Start'])

In [38]:
df['Day'] = pd.to_datetime(df['Day'])
df['Month'] = df['Day'].dt.to_period('M').astype(str)
df['Year'] = df['Day'].dt.to_period('Y').astype(str)
df['Weekday'] = df['Day'].dt.day_name()
df['Duration'] = df['Duration'].str.replace(' min', '').astype(int)
df['Task'] = df['Task'].fillna('Other')

In [36]:

df['Task'] = df['Task'].replace('TOEFL', 'Application Exam Prepare')
df['Task'] = df['Task'].replace('GRE', 'Application Exam Prepare')
df['Task'] = df['Task'].replace('Exam Prepare', 'School Exam Prepare')
df['Task'] = df['Task'].replace('APPLICATION', 'Graduate School Application')

In [37]:
df['Task'].unique()

array(['Application Exam Prepare', 'Homework', 'Thesis',
       'Data Science & Programming', 'Read Books', 'Personal Growth',
       'School Exam Prepare', 'Work', 'Graduate School Application',
       'Career', 'Writing'], dtype=object)

In [39]:

df['Task Category'] = 'Other'

df.loc[df['Task'].isin(['Application Exam Prepare', 'Graduate School Application']), 'Task Category'] = 'Application'
df.loc[df['Task'].isin(['School Exam Prepare', 'Homework']), 'Task Category'] = 'School'
df.loc[df['Task'].isin(['Thesis']), 'Task Category'] = 'Research'
df.loc[df['Task'].isin(['Writing', 'Personal Growth', 'Read Books']), 'Task Category'] = 'Personal Growth'
df.loc[df['Task'].isin(['Data Science & Programming']), 'Task Category'] = 'Data Science & Programming'
df.loc[df['Task'].isin(['Career','Work']), 'Task Category'] = 'Career'

df['Task Category'].unique()

array(['Application', 'School', 'Research', 'Data Science & Programming',
       'Personal Growth', 'Career'], dtype=object)

In [40]:
# check if there are any missing values in task category
df[df['Task Category'] == 'Other']['Task'].unique()

array([], dtype=object)

In [41]:

df.to_csv('../data/processed/WorkingHours_cleaned.csv', index=False)

In [29]:
df.head(10)

,Day,Start,End,Work unit description,Duration,Task,Month,Year,Weekday,Task Category
0,2021-11-03,10:23 AM,11:23 AM,托福阅读改错,60,Application Exam Prepare,2021-11,2021,Wednesday,Application
1,2021-11-04,12:47 PM,1:11 PM,应付workshop,24,Homework,2021-11,2021,Thursday,School
2,2021-11-04,1:28 PM,10:52 PM,应付workshop,455,Homework,2021-11,2021,Thursday,School
3,2021-11-05,7:51 AM,10:21 AM,应付work,150,Homework,2021-11,2021,Friday,School
4,2021-11-05,10:21 AM,11:12 AM,应付work,51,Homework,2021-11,2021,Friday,School
5,2021-11-05,4:00 PM,5:25 PM,民族志汇报准备,85,Thesis,2021-11,2021,Friday,Research
6,2021-11-06,10:00 AM,11:00 AM,阅读做题和改错,60,Application Exam Prepare,2021-11,2021,Saturday,Application
7,2021-11-06,10:08 AM,4:08 PM,风景区底图,360,Homework,2021-11,2021,Saturday,School
8,2021-11-06,8:17 PM,8:25 PM,NaN,8,Homework,2021-11,2021,Saturday,School
9,2021-11-07,10:40 AM,12:20 PM,应付风景区,100,Homework,2021-11,2021,Sunday,School